/* font property */
/* .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  } */

/* root for all color and font */
:root {
    --bg-color : #FFFFFF ;
    --heading-color : #243761 ;    
    --text-color : #000000 ;
    --button-color : #243761 ;
    --button-color-hover : #243761 ;
    --button-text-color : #FFFFFF ;
    --primary-font : "Roboto" ;
}
  
* {
    margin: 0;
    padding: 0;    
}

body {    
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
    color: var(--text-color);
    background-color: var(--bg-color);
}

.all {
    margin: 100px;
}

/* .body-container{
    padding:30px;        
} */

.body-container h2 {
    font-weight: 500;
    padding-bottom: 5px;
    color: var(--heading-color);
}

.body-container h3 {
    margin-left: 30px;
    font-weight: 400;
    padding-bottom: 5px;
}

.body-container .question {
    /* padding: 10px 0;     */
    max-height: 0px;
    overflow: hidden;
    /* border: 2px solid black; */
    transition: 0.3s ease-in-out;
}

.body-container .question:first-child {
    max-height: 100px;
}

.body-container .selection {
    margin: 15px 30px;
    padding: 7px;
    width: 50%;    
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 10px;
    border: 0px transparent;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.body-container .selection:active {
    border: 0px transparent;
}

.button {
  margin: 50px 0;
  padding: 15px 0;
  width: 100%;
  font-size: 24px;  
  font-weight: 600;  
  border: 0px solid transparent;
  border-radius: 15px;
  color: var(--button-text-color);
  background-color: var(--button-color);
  /* background: linear-gradient(to bottom, var(--heading-color), lightblue); */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--button-color-hover) ;
}

.error h2 {
  color: red;
  text-align: justify;
}

.suggestion {
  display: none;
}

.main-body {
  position: fixed;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
}

.info-main {
  padding: 50px 50px 0px 50px;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  font-size: 22px;
}

.info-main table tr td {
  padding: 10px;    
}

.info-main table {
  width: 500px;
}

.info-main table tr td:first-child {
  font-weight: 500;
}

.info-main input {
  width: 100%;
  border: 0px;
  outline: 0px;
  border-bottom: 2px solid black;
  font-size: 18px;
  background-color: transparent;
  backdrop-filter: blur(6px);
}

.info-main .popup {
  margin: 20px 0px;
}

.suggestion-main {  
  max-height: 0px;
  margin:100px;
  margin-top: 0px;
  font-size: 18px;
  overflow: hidden;
}
