/* font property */
/* .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  } */

/* root for all color and font */
:root {
    --bg-color : #FFFFFF ;
    --heading-color : #243761 ;    
    --text-color : #000000 ;
    --button-color : #243761 ;
    --button-color-hover : #243761 ;
    --button-text-color : #FFFFFF ;
    --primary-font : "Roboto" ;
}
  
* {
    margin: 0;
    padding: 0;    
}

body {    
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-family: var(--primary-font);
    color: var(--text-color);
    background-color: var(--bg-color);
}

h1 {
  font-weight: 700;
  font-size: 28px;
  padding-bottom: 5px;
  color: var(--heading-color);
}

h2 {
  font-weight: 500;
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 30px;
  color: var(--heading-color);
}

h3 {
  margin-left: 30px;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 5px;
}

p {
  font-size: 16px;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--bg-color);
  position: fixed;
}

.part-one {
  width: 100%;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

.part-one img {
  width: 100%;
}

.logo-img {
  padding-top: 20px;
  padding-left: 100px;
  /* padding-bottom: 20px; */
  max-width: 200px;
  width: 200px;
}

.progress-part {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress {
  margin: auto;
  padding: 3px;
  width: 85%;
  height: 10px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  /* border: 10px solid black; */
  box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.5);
}

.progressbar {  
  width: 0;
  height: 100%;
  border-radius: 50px;
  background: rgba(0, 255, 0, 0.5);
  transition: 0.3s ease-in-out;
}

.all {
    margin: 40px 100px;    
    width: auto;
}

/* .body-container{
    padding:30px;        
} */

.body-container .question {
    /* padding: 10px 0;     */
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    /* border: 2px solid black; */
    transition: 0.3s ease-in-out;
}

.body-container .question:first-child {
    max-height: 300px;
}

.body-container .selection {
    margin: 15px 60px;
    padding: 7px;
    width: 50%;    
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 10px;
    border: 0px transparent;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.body-container .selection:active {
    border: 0px transparent;
}

.button {
  display: block;
  margin: 50px auto;
  padding: 15px 30px;
  width: auto;
  font-size: 20px;  
  font-weight: 600;  
  border: 0px solid transparent;
  /* border-radius: 15px; */
  color: var(--button-text-color);
  background-color: var(--button-color);
  /* background: linear-gradient(to bottom, var(--heading-color), lightblue); */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:disabled {
  cursor: not-allowed;
}

.button:hover {
  background-color: var(--button-color-hover) ;
}

.calculation {
  display: none;
}

.error h2 {
  color: red;
  text-align: justify;
}

.output {
  font-size: 22px;
}

.suggestion {
  margin: 20px 0;
  display: none;
}

.main-body {
  position: fixed;
  top: 50%;
  left: 50%;  
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
}

.info-main {
  padding: 50px 50px 0px 50px;
  width: auto;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  background-color: #fff;
  font-size: 14px;
}

.info-main i {
  float: right;
  cursor: pointer;
}

.info-main i:hover {
  color: red;
}

.info-main table {
  width: 500px;
}

.info-main table tr td {
  padding: 5px;    
}

.info-main table tr td:first-child {
  font-weight: 500;
}

.info-main input {
  width: 100%;
  border: 0px;
  outline: 0px;
  border-bottom: 2px solid black;
  font-size: 18px;
  background-color: transparent;
  backdrop-filter: blur(6px);
}

.info-main .combobox-td {
  padding: 10px;
  font-size: 12px;
  font-style: italic;  
}

.info-main .combobox-td label {
  cursor: pointer;
}

.info-main .popup {
  margin: 0px;
  margin-bottom: 20px;
  width: 100%;
  font-size: 16px;
}

.suggestion-main {  
  max-height: 0px;
  margin:100px;
  margin-top: 0px;
  overflow: hidden;  
}

.suggestion-output table {  
  width: 100%;
  margin: auto;  
}

.suggestion-output table tr td{
  padding: 10px;  
}


.suggestion-output table tr td:first-child {
  text-align: left;
  border-right: 2px solid black;
}

.suggestion-output table tr td:last-child {
  text-align: right;
  font-weight: bold;
} 


/* media qurey */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 14px;
  }

  h2 {    
    font-size: 12px;
    padding-bottom: 2px;
  }
  
  h3 {
    margin-left: 15px;
    padding-bottom: 2px;
    font-size: 10px;
  }
  
  p {
    font-size: 8px;
  }
  .all {
    margin: 20px;   
    margin-top: 200px; 
  }

  .logo-img {
    width: 180px;
  }

  .body-container .selection {
    margin: 5px 30px;
    padding: 3px;
    width: 80%;    
    font-size: 8px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .button {
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 10px;
  }

  .info-main {
    font-size: 14px;
  }

  .info-main table {
    width: 200px;
  }

  .info-main input {
    font-size: 14px;
  }

  .info-main .combobox-td {
    padding: 5px;
  }

  .suggestion-main {
    margin: 20px;    
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 16px;
  }

  h2 {    
    font-size: 14px;
    padding-bottom: 2px;
  }
  
  h3 {
    margin-left: 15px;
    padding-bottom: 2px;
    font-size: 12px;
  }
  
  p {
    font-size: 10px;
  }
  .all {
    margin: 20px;   
    margin-top: 200px; 
  }

  .logo-img {
    width: 180px;
  }

  .body-container .selection {
    margin: 5px 30px;
    padding: 3px;
    width: 80%;    
    font-size: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .button {
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 12px;
  }

  .info-main {
    font-size: 14px;
  }

  .info-main table {
    width: 400px;
  }

  .info-main input {
    font-size: 14px;
  }

  .info-main .combobox-td {
    padding: 5px;
  }

  .suggestion-main {
    margin: 20px;    
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 18px;
  }

  h2 {    
    font-size: 16px;
    padding-bottom: 4px;
  }
  
  h3 {
    margin-left: 30px;
    padding-bottom: 2px;
    font-size: 14px;
  }
  
  p {
    font-size: 12px;
  }
  .all {
    margin: 30px;    
    margin-top: 200px;
  }

  .logo-img {
    width: 180px;
  }

  .body-container .selection {
    margin: 7px 60px;
    padding: 3px;
    width: 80%;    
    font-size: 12px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .button {
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 14px;
  }

  .info-main {
    font-size: 14px;
  }

  .info-main table {
    width: 600px;
  }

  .info-main input {
    font-size: 14px;
  }

  .info-main .combobox-td {
    padding: 5px;
  }

  .suggestion-main {
    margin: 20px;    
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  h1 {
    font-size: 22px;
  }

  h2 {    
    font-size: 20px;
    padding-bottom: 30px;
  }
  
  h3 {
    margin-left: 30px;
    padding-bottom: 2px;
    font-size: 18px;
  }
  
  p {
    font-size: 16px;
  }

  .all {
    margin: 40px 100px;   
    margin-top: 200px; 
  }

  .logo-img {
    width: 300px;
  }

  .body-container .selection {   
    margin: 15px 60px;
    padding: 7px;
    width: 50%;    
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  .button {
    margin: 50px auto;
    padding: 15px 30px;
    font-size: 20px;
  }

  .info-main {
    font-size: 18px;
  }

  .info-main table {
    width: 600px;
  }

  .info-main input {
    font-size: 16px;
  }

  .info-main .combobox-td {
    padding: 12px;
  }

  .suggestion-main {
    margin: 100px;
    margin-top: 10px;    
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 24px;
  }

  h2 {    
    font-size: 22px;
    padding-bottom: 30px;
  }
  
  h3 {
    margin-left: 30px;
    padding-bottom: 2px;
    font-size: 18px;
  }
  
  p {
    font-size: 16px;
  }

  .all {
    margin: 40px 100px;
    margin-top: 200px; 
  }

  .logo-img {
    width: 300px;
  }

  .body-container .selection {   
    margin: 15px 60px;
    padding: 7px;
    width: 50%;    
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  .button {
    margin: 50px auto;
    padding: 15px 30px;
    font-size: 20px;
  }

  .info-main {
    font-size: 18px;
  }

  .info-main table {
    width: 600px;
  }

  .info-main input {
    font-size: 16px;
  }

  .info-main .combobox-td {
    padding: 12px;
  }

  .suggestion-main {
    margin: 100px;
    margin-top: 10px;
  }
}